
html { height: 100%; }
/*
#home-image {
	width:100%;
	height: 100%;
	background: url('../resources/jorge-gordo-205017.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.intro {
	width: 100%;
	height: 780px;
}
*/

.intro {
	width: 100%;
	height: 600px;
}







/* navigator */

.navlink:hover {
	color: black !important;
}

/* home */
.homebg{
	background-color: black;
	color: white;
	background:url('../resources/jorge-gordo-205017.jpg');
    background-size:cover;
    background-position:center;
	width: 100%;
	height: 100%;
	
	margin-top: -30px;
}

.bg {
	height: 800px;
}

#headerTitle {
	font-weight: bold;
	text-align: center;
}

#titleDiv {
	border : 3px white solid;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30%;
}

#headerText {
	font-size : 20px;
	margin-top : 15%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

/* news and announcemnet */
.newsBlock {
	background: #f39c12;
	color: white;
}

#newsArcticle {
	margin-bottom:50px;

}

#textArticle {
	font-size: 1.8em;
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: 'Chelsea Market', cursive;
	text-align: center;
}

#newsTitle {
	border: 2px white solid;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

#megaphone {
	width: 80%;
	margin-bottom: 30px;
}

/* film list */
#filmHeader {
	text-align: center;
	border: 1px white solid;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#fifth-aug, #seventh-aug {
	text-align: right;
	margin-top : 40px;
}

#sisth-aug, #eight-aug {
	text-align: left;
	margin-top: 40px;
}

.filmBlock {
	background-color: #2c3e50;
	color: white;
	padding-bottom: 50px;
	padding-top: 50px;
}

#IMDbLogo {
	margin-bottom: 10px;
}

/*
.filmList {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 250px;
	padding-top: 10px;
	margin-left: 1%;
	margin-right: 2%;
	
}

.list {
	margin : 2% 2% 2% 2%;
}
*/

/* links */
.thirdSect{
	background-color: black;
	color: white;
	background:url('../resources/map.png');
    background-size:cover;
    background-position:center;
	width: 100%;
	height: 100%;
	
}

.sect {
	height: 500px;

}



/* map */
#map {
	background-color: #ecf0f1;
}

/* form */
#register {
	margin-top: 20px;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 20px;
}

legend {
	text-align: center;
}

.formStyle {
	padding : 20px 10px 10px 10px;
	
}

#name-input, #email-input, #date-input {
	margin-bottom: 8px;
}

#people {
	margin-bottom: 5px;
}

#subs {
	margin-bottom: 30px;
}

/*footer*/
.footer {
	height: 200px;
	width: 100%;
	padding-top: 50px;
	color: lightgrey;
}

.footerLink {
	color: lightgrey;
font-weight: bold;
}

.footerLink:hover {
	color: white;
	text-decoration: none;
}

.footerBg{
	background-color: black;
}

.footerLogo {
	background-color: white;
	width: 100%;
	margin-top: 20px;
}

/*social media*/
.fa {
	padding: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	text-decoration: none;
	color: white;
}

.fa-facebook {
	background-color: #3B5998;
    color: white;
	text-decoration: none;
}

.fa-twitter {
	background-color: #55ACEE;
    color: white;
	text-decoration: none;
}

.fa-instagram {
	background-color: #125688;
	color: white;
	text-decoration: none;
}

.pageLink {
	margin-bottom: 10px;
}

.infoLink {
	margin-bottom: 10px;
}

#follow {
	font-weight: bold;
}

/*font*/
body {
	font-family: "Roboto Condensed", sans-serif, "Times New Roman", Times, serif;
}


/*responsive changes*/


/* Landscape phones and down */
@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
	
	/*home*/
	#titleDiv {
	border : 3px white solid;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 70%;
	}
	
	#headerText {
		font-size: 1.2em;
	}
	
	#headerTitle {
	padding-left: 5%;
	padding-right: 5%;
	}

	
	.homebg{
		margin-top: 50px;
	}
	
	.bg {
		height: 600px;
	}
	
	/*news and announcement */
	#textArticle {
		font-size: 1em;
	}
	
	#newsTitle {
	border: 2px white solid;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	/*film list*/
	#filmHeader {
	text-align: center;
	border: 1px white solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	margin-bottom: 30px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	/*home*/
	#titleDiv {
	border : 3px white solid;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 33%;
	}
	
	#headerText {
		font-size: 1.2em;
	}
	
	.bg {
		height: 500px;
	}
	
	/*news and announcement */
	#textArticle {
		font-size: 1em;
	}
	
	#megaphone {
	width: 60%;
	margin-bottom: 30px;
	margin-left: 10%;
	margin-right: 10%;
	}
	
	/*footer*/
	.footerLogo {
		width: 50%;
	}
}

/* Portrait tablet to landscape and desktop */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
	
	/* news and announcement */
	#textArticle {
	font-size: 1.2em;
	}
	
	/*footer*/
	.footerLogo {
		width: 50%;
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

